.hide {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}
a {
  text-decoration: none;
}

button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.container {
  /* max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
} */
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.quality {
  /* padding: 120px 0; */
  padding: 96px 0;
}
@media only screen and (min-width: 768px) {
  .quality {
  }
}

@media only screen and (min-width: 1158px) {
  .quality {
    padding: 120px 0;
  }
}

.quality-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.section {
  padding: 120px 0;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container-header {
  display: flex;
  flex-direction: row;
  max-width: 1158px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.nav-page {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-left: 0;
  margin-right: 76px;
}
.logo-web {
  color: #2e2f42;
  /* font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase; */
}

.nav-list {
  display: flex;
  gap: 40px;
  margin-right: 332px;
}
.nav-link {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  gap: 40px;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item .nav-link {
  color: #2e2f42;
  color: #404bbf;
}
.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  color: #404bbf;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.tel {
  font-style: normal;
  display: block;
}

.tel-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.tel-item {
  color: #434455;
}
.tel-item-link {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-item :hover,
.tel-item :focus {
  color: #404bbf;
}
.service {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people/people.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.solutions-title {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto 48px auto;
}
.oder {
  display: block;
  cursor: pointer;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.oder:hover,
.oder:focus {
  background-color: #404bbf;
}
.quality {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.quality-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.quality-item {
  width: calc((100% - 24px * 3) / 4);
}
.quality-wrapper {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  height: 112px;

  background: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.quality-subtitle {
  margin-bottom: 8px;
  font-weight: 500;

  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.quality-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team-section {
  padding: 120px 0;
  background-color: #f4f4fd;
}

.team-title {
  color: #2e2f42;
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
  width: calc((100% - 24px * 3) / 4);
  text-align: center;
}
.team-img {
  display: block;
  margin-bottom: 32px;
}

.team-subtitle {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-cont {
  margin-bottom: 8px;
  padding: 32px 0;
}
.team-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-align: center;
  margin-bottom: 8px;
}

.team-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 32px;
}
.team-item-icon {
  width: 40px;
  height: 40px;
  fill: #f4f4fd;
}
.team-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link:hover,
.team-link:focus {
  background-color: #404bbf;
}
.team-link svg {
  fill: currentColor;
}
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #fff;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  background: #fff;
  width: calc((100% - 24px * 2) / 3);
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-img-cont {
  position: relative;
  overflow: hidden;
}
.overlay {
  display: flex;
  align-items: center;
  position: absolute;
  padding: 40px 32px;

  left: 0;
  top: 0;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  backdrop-filter: blur(15px);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background: #4d5ae5;
}
.portfolio-item:hover .overlay {
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portf-cont {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  align-items: flex-start;
}
.portfolio-subtitle {
  font-weight: 500;
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-text {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}

/* max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center; */

.footer .container {
  display: flex;
  align-items: baseline;
}
.cont-logo {
  display: inline-block;
  width: 264px;
  height: 112px;
  margin-right: 120px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.logo-footer-web {
  color: #f4f4fd;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding-bottom: 100px;
}
.cont-icon {
  display: inline-block;
  min-width: 264px;
  height: 112px;
}
.footer-list {
  display: flex;
  gap: 16px;
}
.footer-item {
  width: 40px;
  height: 40px;
  fill: #f4f4fd;
}
.footer-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  color: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-label {
  display: inline-block;
  border-radius: 4px;
  padding: 8px 0 8px 8px;
  width: 264px;
  height: 40px;
  margin-right: 24px;
}
.footer-icon-text {
  display: inline-block;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.footer-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  background: #2e2f42;
  background-color: transparent;
  border: 1px solid #ffffff;
  padding-left: 16px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}
.footer-form {
  gap: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-btn {
  min-width: 165px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.footer-btn:hover,
.footer-btn:focus {
  background-color: #404bbf;
}
.footer-btn-icon {
  margin-left: 16px;
  fill: #fff;
  transform: translate(50%, 0);
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 72px 24px 24px 24px;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal-overlay.is-open {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}
.modal {
  padding: 24px;
  padding-top: 72px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #fcfcfc;
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  color: #2e2f42;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  border: none;
  fill: #ffffff;
  background-color: #404bbf;
}
.modal-btn-icon {
  fill: currentColor;
}
.modal-wrapper {
  margin-bottom: 8px;
}
.modal-label {
  display: block;
  font-weight: 400;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-field {
  position: relative;
  margin-bottom: 16px;
}
.modal-field-input:focus-within + .modal-field-icon {
 
  fill: #4d5ae5;
}
.modal-field-input:focus{
  border-color: #4d5ae5;
}
.modal-field-icon {
  position: absolute;
  top: 50%;
  left: 5%;
  left: 16px;
  fill: #2e2f42;
  
 transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icon {
  position: absolute;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field-input {
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  color: #434455;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-wrapper-messang {
  margin-bottom: 16px;
}
.modal-messang {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  outline: transparent;
  resize: none;
  background-color: transparent;
margin-bottom: 24px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-massange::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.modal-messang:focus{
  color:#2e2f42;
  border-color: #4d5ae5;
}

.checkbox-container {
  margin-bottom: 24px;
}
.agreement {
  display: block;
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.agreement-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}
.checkbox-hidden:checked + .agreement .agreement-checkbox {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}
.agreement-checkbox-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.btn-submit {
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #4d5ae5;
  color: #fff;
  margin: 0 auto;
  display: block;
  /* align-items: center;
  justify-content: center; */
}


